body {
    margin: 0;
    padding: 0;
    background-color: #d9d9d9; 
    font-family: Arial, sans-serif;
}


header {
    background-color: #F06A7A; 
    padding: 10px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}


.logo {
    color: #ffffff; 
    font-size: 24px;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


.nav-links li {
    margin: 0 15px;
}


.nav-links a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 18px;
}


.nav-links a:hover {
    text-decoration: underline; 
}


main {
    text-align: center;
    padding: 50px 0;
}

.form-title{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vc {
  text-decoration: none;
  color: inherit;
}