<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Client Progress</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/client/client.css')}}" />
</head>
<body class="bg-light">
  <header>
        <nav class="navbar">
            <div class="logo"><a class='vc'href="{{url_for('clientDashboard')}}">Visa Consultancy</a></div>
            <ul class="nav-links">
                <li><a href="{{url_for('get_or_create_code')}}"> Chat with agent </a></li>
                <li><a href="{{url_for('clientViewProgress')}}"> View progress</a></li>
                <li><button id="logoutBtn" class="btn btn-danger">Logout</button></li>
            </ul>
        </nav>
       
    </header>

<div class="container py-5">
  <div class="card shadow-lg p-4">
    <h2 class="mb-4">Client Progress</h2>

 
    <div class="mb-3">
      <strong>Client Name:</strong> {{session["first_name"]}} {{session["last_name"]}} <br>
      <strong>Visa Type:</strong> Student
    </div>


    <div class="mb-4">
      <label class="form-label fw-bold">Progress:</label>
      <div class="progress" style="height: 35px;">
        <div 
          id="progress-bar" 
          class="progress-bar progress-bar-striped progress-bar-animated" 
          role="progressbar"
          style="width: 0%"
        >
          {{ records.progress }}
        </div>
      </div>
    </div>


    <div id="status" class="alert alert-info mt-3">
      Current Status: <strong>{{ records.progress }}</strong>
    </div>


    <a href="{{ url_for('clientDashboard') }}" class="btn btn-secondary">Back</a>
  </div>
</div>

<script>
  // progress bar ko percentages ra colors ko relationship  
  const progress = "{{ records.progress }}";
  const progressBar = document.getElementById("progress-bar");
  const statusBox = document.getElementById("status");

  let percentage = 0;
  let colorClass = "bg-info";

  switch (progress) {
    case "verifying documents":
      percentage = 25;
      colorClass = "bg-warning";
      break;
    case "in progress":
      percentage = 50;
      colorClass = "bg-primary";
      break;
    case "completed":
      percentage = 100;
      colorClass = "bg-success";
      break;
    case "rejected":
      percentage = 100;
      colorClass = "bg-danger";
      break;
  }

  progressBar.style.width = percentage + "%";
  progressBar.classList.add(colorClass);

  
  document.getElementById("logoutBtn").addEventListener("click", function () {
    confirm("Go to home page for loging out!")
  });
  
</script>

</body>
</html>