<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Client Visa Portal</title>
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
</head>

<body>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} " role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}<br>
  <div class="container mt-5">

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card p-4 shadow-sm">
          <h1 class="text-center mb-4">Fill Valid info Only </h1>

          <form id="client-info-form" action="/rejectedDashboard" method="post">
            <h2 class="text-center h4 mb-4">Application Form(rejected part)</h2>

            <div class="mb-3">
              <label for="firstname" class="form-label">First Name</label>
              <input type="text" class="form-control" name="first_name" value={{data.first_name}} required />
            </div>
            <div class="mb-3">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" class="form-control" name="last_name" value={{data.last_name}} required />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="email" name="email"  value={{data.email}} required />
            </div>

            <div class="mb-3">
              <label for="Phone" class="form-label">Phone</label>
              <input type="tel" class="form-control" aria-describedby="pwdHelp" id="phone" name="phone" value={{data.phone}}
                minlength="10" maxlength="10" required />
              <div id="pwdHelp" class="form-text">
                Must be at 10 digits.
              </div>
              <div class="invalid-feedback">
                Please meet the requirement.
              </div>
            </div>            

            <div class="col-12 d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

</body>

</html>