<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View clients</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/admin/admin.css')}}" />
</head>
<body>
   <script src="{{url_for('static',filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
   <header>
        <nav class="navbar">
            <div class="logo"><a class='vc'href="{{url_for('adminDashboard')}}">Visa Consultancy</a></div>
            <ul class="nav-links">
                <li><a href="{{url_for('checkRegistrations')}}">Check Registration</a></li>
                <li><a href="{{url_for('lookClients')}}">View Client</a></li>
                <li><a href="{{url_for('lookAgents')}}">View Agent</a></li>
                <li><button id="logoutBtn" class="btn btn-danger">Logout</button></li>
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} " role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}<br>
    <div class="dashboard-container">
        <form action="/approveApplication/{{session['userkoid']}}" method="POST" id="reportForm">
            <select class="form-select"  name="agent_id" id="agent_id" required>
                <option value="" disabled selected>Select Agent</option>
                {% for a in data %}
                    <option  value="{{ a.id }}">{{ a.first_name }} {{ a.last_name }}</option>
                {% endfor %}
            </select> 
            <input type="submit" class="btn btn-primary" value="Assign Agent">  
        </form>
    </div>
  <script>
        document.getElementById("logoutBtn").addEventListener("click", function () {
            alert("Go to home page for loging out!")
            });
    </script>  
</body>
</html>