<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View clients</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/admin/admin.css')}}" />
</head>
<body>
   <script src="{{url_for('static',filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
   <header>
        <nav class="navbar">
            <div class="logo"><a class='vc'href="{{url_for('adminDashboard')}}">Visa Consultancy</a></div>
            <ul class="nav-links">
                <li><a href="{{url_for('checkRegistrations')}}">Check Registration</a></li>
                <li><a href="{{url_for('lookClients')}}">View Client</a></li>
                <li><a href="{{url_for('lookAgents')}}">View Agent</a></li>
                <li><button id="logoutBtn" class="btn btn-danger">Logout</button></li>
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} " role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}<br>
    <div class="dashboard-container">
        <div>
            <h3><a href="/admin">Back</a></h3>
            <h2>VISA APPLICANTS</h2>
            <table>
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for i in users %}
                <tr>
                  <td>{{ i.id }}</td>
                  <td>{{ i.username }}</td>
                  <td>
                    <a href="{{url_for('reviewApplication',user_id=i.id)}}" class="btn0">Review</a>
                  </td>
                </tr>
                {% endfor %}    
              </tbody>
            </table>
        </div>
    </div>
  <script>
        document.getElementById("logoutBtn").addEventListener("click", function () {
            alert("Go to home page for loging out!")
            });
    </script>  
</body>
</html>