<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View clients</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/agent/agentfun.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/agent/agent.css')}}" />
</head>
<body>
  <header>
        <nav class="navbar">
            <div class="logo"><a class='vc'href="{{url_for('agentDashboard')}}">Visa Consultancy</a></div>
            <ul class="nav-links">
                <li><a href="{{url_for('viewClients')}}">View Clients</a></li>
                <li><a href="{{url_for('submitReport')}}">Submit Daily reports</a></li>
                <li><a href="{{url_for('updateSales')}}">Update Sales</a></li>
                <li><button id="logoutBtn" class="btn btn-danger">Logout</button></li>
            </ul>
        </nav>
    </header>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} " role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}<br>
    <div class="dashboard-container">
        <div>
            <h3><a href="/agent">Back</a></h3>
            <h2>Assigned Clients</h2>
            <table>
              <thead>
                <tr>
                  <th>Client ID</th>
                  <th>Full Name</th>
                  <th>Visa Type</th>
                  <th>Progress</th>
                  <th>Apply Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for i in clients %}
                <tr>
                  <td>{{ i.client_id }}</td>
                  <td>{{ i.first_name }} {{ i.last_name }}</td>
                  <td>Student</td>
                  <td>{{ i.progress }}</td>
                  <td>{{ i.apply_date }}</td>
                  <td>
                    <a href="{{url_for('updateProgress',client_id=i.client_id)}}" class="btn0">Update Progress</a>
                    <p></p>
                    <a href="{{url_for('get_create_code',client_id=i.client_id)}}" class="btn0">Send message</a>
                  </td>
                </tr>
                {% endfor %}    
              </tbody>
            </table>
        </div>
    </div>
  <script>
        document.getElementById("logoutBtn").addEventListener("click", function () {
            alert("Go to home page for loging out!")
            });
    </script>  
</body>
</html>