<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visa Consultancy</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/user.css')}}" />
</head>
<body>
 <header>
        <nav class="navbar">
            <div class="logo">Visa Consultancy</div>
            <ul class="nav-links">
                <li>Your account is being validated.</li>
            </ul>
        </nav>
    </header>
</body>
</html>